.navbar-right-items {
    float: right;
    margin-right: 15px;
    margin-top: 8px;
}

.navbar-btn {
    margin-right: 3px;
    margin-left: 3px;
    font-size: 18px;
    color: white;
    background-color: #222;
    border-color: #222;
}

.navbar.navbar-inverse .navbar-brand {
    font-size: 55px;
    font-family: 'Marck Script', cursive;
    color: #7dd263;
    margin-top: 10px;
}

.navbar-inverse {
    height: 75px;
    margin-bottom: 0px;  Overwrite bootstraps margin
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:focus {
    color: white;
    text-decoration: none;
}

.btn-default:hover {
    background-color: green;
    border-color: #222;
    color: white;
}

.btn-default:focus {
    background-color: initial;
    outline: none;
    color: white;
}

.btn-default:active {
    background-color: initial;
    outline: none;
    color: white;
}

.open>.dropdown-menu {
    top: 45px;
    width: 150px;
    min-width: unset;
    font-size: 16px;
}

.dropdown-menu>li>a {
    padding: 6px 18px;
}

body {
    background: black;
    color: white;
}

.leaves {
    background-image: url("../img/background.jpg");
    background-size: cover;
    opacity: 0.8;
    width: 100%;
}

.profile-and-title {
    position: relative;
    top: 65px;

}

.profile {
    margin: 0 auto;
    display: block;
    border: 10px solid black;
}

.title-container {
    position: relative;
    bottom: 76px;
    text-align: center;
    color: white;
}

.main-title {
    font-family: Helvetica;
    font-size: 80px;
    -webkit-text-stroke: 4px black;
}

.tagline {
    font-size: 42px;
    position: relative;
    bottom: 22px;
}

.about {
    margin: auto;
    width: 65%;
    text-align: center;
}

.about-text {
    font-size: 18px;
    font-family: Montserrat;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    line-height: 3;
}

.blog-title {
    text-align: center;
    font-size: 50px;
    font-family: Montserrat;
    letter-spacing: 2px;
}

.blog-date {
    font-size: 30px;
    font-family: Montserrat;
    letter-spacing: 2px;
    text-align: center;
}

.left-line {
    float: left;
    width: 35%;
    margin-left: 50px;
}

.right-line {
    float: right;
    width: 35%;
    margin-right: 50px;
}

.float-left {
    float: left;
    padding-right: 30px;
}

.float-right {
    float: right;
    padding-left: 30px;
}

.blog-text {
    font-size: 20px;
    padding: 35px;
}

.blog-paragraph {
    margin: 20px 0;
}

.img-container-row-of-three img {
    padding: 0 6px;
    width: 33%;
    float: left;
    height: 450px;
    margin-bottom: 30px;
}

.img-container-row-of-four img {
    padding: 0 6px;
    width: 25%;
    float: left;
    height: 450px;
    margin-bottom: 10px;
}

.signature {
    text-align: center;
}

.contact {
    text-align: center;
    margin: 15px 0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0 8px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.gallery-hr {
    margin:20px 30px 40px 30px;
}
