/* header {
   color: white;
   text-align: center;
   background: <img src="img_0819.jpg">
   background-size: cover;
   margin: 40px, 0 0 0;
   background-position: center;
   fontfamily: helvetica;
 }
 h1 {
   font-size: 75px;
 }
 body {
    text-align: left;
    background: black;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
}
p {
    text-align: center;
    font-size: 22px;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
      }
input[type="submit"] {
  background: green;
  color: white;
      }
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
  size: 60px;
}
a {
    color: white;
  }
article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }
  @media (max-width: 500px) {}


  /* .navigation nav {
  display: flex;
  justify-content: center;

  background-color: #333333;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block; */ */
