.navbar-right-items {
    float: right;
    margin-right: 15px;
    margin-top: 8px;
}

.navbar-btn {
    margin-right: 3px;
    margin-left: 3px;
    font-size: 18px;
    color: white;
    background-color: #222;
    border-color: #222;
}

.navbar.navbar-inverse .navbar-brand {
    font-size: 55px;
    font-family: 'Marck Script', cursive;
    color: #7dd263;
    margin-top: 10px;
}

.navbar-inverse {
    height: 75px;
}

a {
  color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.btn-default:hover {
    background-color: green;
    border-color: #222;
    color: white;
}

.open>.dropdown-menu {
    top: 45px;
    width: 150px;
    min-width: unset;
    font-size: 16px;
}

.dropdown-menu>li>a {
    padding: 6px 18px;
}

body {
   background: black;
   color: white;
}
/* header {
   color: white;
   text-align: center;
   background: <img src="img_0819.jpg">
   background-size: cover;
   margin: 40px, 0 0 0;
   background-position: center;
   fontfamily: helvetica;
 }
 h1 {
   font-size: 75px;
 }
 body {
    text-align: left;
    background: black;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
}
p {
    text-align: center;
    font-size: 22px;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
      }
input[type="submit"] {
  background: green;
  color: white;
      }
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
  size: 60px;
}
a {
    color: white;
  }
article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }
  @media (max-width: 500px) {}
